:root {
  --primary: #c68667;
  --background: #fdfbf9; /* Tom off-white para suavizar o contraste */
  --text-dark: #2d241e;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  gap: 40px;
  text-align: center;
  padding: 20px;
}

.hero-title h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(3.5rem, 10vw, 7.5rem);
  color: var(--text-dark);
  line-height: 0.95;
  max-width: 1200px;
  margin: 0;
  font-weight: 800;
  letter-spacing: -0.03em;
}

.hero-title p {
  font-size: 2rem;
  margin-top: 30px;

  color: var(--muted-foreground);
}

.hero-title span {
  color: var(--primary);
}

.hero-btn {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-btn button {
  border-radius: 50px;
  padding: 15px 35px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary);

  border: none;
  display: flex;
  align-items: center;
  gap: 8px;

  a {
    color: #fff;
  }
}

.btn-primary:hover {
  filter: brightness(1.1);
  transform: translateY(-3px);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--primary);

  a {
    color: var(--primary);
  }
}

.btn-secondary:hover {
  background-color: var(--primary);

  a {
    color: #fff;
  }
}

@media (max-width: 1012px) {
  .hero-title p {
    font-size: 1rem;
    margin-top: 30px;
    font-style: italic;
  }
}
