.meu-card {
  background-color: var(--muted);
  border: 1px solid #e2e8f0; 
  border-radius: 16px;
  padding: 32px;
  
 
  flex: 1;
  min-width: 300px; 
  max-width: 380px; 
  
  transition: all 0.3s ease; 
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.meu-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.247);
 
}

.icone {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 8px;
}

.meu-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: var(--text-dark);
  margin: 0;
}

.meu-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--muted-foreground);
  margin: 0;
}