@import "tailwindcss";


@theme {
  /* Cores Personalizadas */
  --color-primary: #c4795f;
  --color-muted-foreground: #6b5e4f;

  /* Fontes Personalizadas */
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --keyframes-fade-in-up: {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  };

  --animation-fade-in-up: fade-in-up 1.2s ease-out forwards;
}

/* Estilos Globais (Equivalente ao body e html) */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body overflow-x-hidden;
  }

  h1 {
    @apply font-heading;
  }
}

/* Componentes e Classes Utilitárias */
@layer components {
  
  .btn-whats {
    @apply fixed bottom-5 right-5 z-9999 
           flex h-15 w-15 items-center justify-center 
           rounded-full text-[#25d366] text-[25px] 
           shadow-[0_4px_12px_rgba(0,0,0,0.2)] 
           cursor-pointer transition-transform duration-300 
           hover:scale-110;

    
    animation: pulsar 2s ease-in-out infinite;
  }

  /* Media query específica para o botão */
  @media (max-width: 477px) {
    .btn-whats {
      @apply h-7.5 w-7.5 text-[20px];
    }
  }
}
